<!--
 * File: app.component.html
 * Author: Olah Janos Gergely
 * Copyright: 2022, olahjg
 * Group: Szoft N/2
 * Date: 2022-01-13
 * Github: https://github.com/olahjg/
 * Licenc: GNU GPL
-->
<div class="app_">
  <div class="header_">
    <label>Húrnégyszög</label>
  </div>
  <div class="formContainer_">
    <form [formGroup]="hurnegyterForm" class="form_" (ngSubmit)="onSubmit()">
      <div class="card_">
        <label>A</label>
        <input type="number" formControlName="sideA" min="0" />
      </div>
      <div class="card_">
        <label>B</label>
        <input type="number" formControlName="sideB" min="0" />
      </div>
      <div class="card_">
        <label>C</label>
        <input type="number" formControlName="sideC" min="0" />
      </div>
      <div class="card_">
        <label>D</label>
        <input type="number" formControlName="sideD" min="0" />
      </div>
      <div class="buttonContainer_">
        <input class type="submit" value="Számolás!" />
      </div>
      <div class="outputContainer_">
        <h1>{{ result }}</h1>
      </div>
    </form>
  </div>
  <div class="info_">
    <label
      >Olah Janos Gergely
      <br />
      Szoft N/2
      <br />
      2022-01-13
    </label>
  </div>
</div>
